@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Code+Pro:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Noto Sans TC", "Source Code Pro", monospace, sans-serif;
}

html {
  width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #F3EEDD;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  width: 350px;
  perspective: 1000px;
}

.flip {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flip img {
  width: 24px;
  vertical-align: top;
  margin-left: 10px;
}

.card {
  position: relative;
  width: 100%;
  padding: 30px 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  border: 1px solid lightgrey;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 0.5s linear;
  cursor: pointer;
}

.card.active {
  transform: rotateY(180deg);
}

.card img {
  position: relative;
  display: block;
  max-width: 240px;
  margin: 20px auto;
  margin-bottom: 20px;
}

.card .poke-entry {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  z-index: 1;
  transform: rotateY(-180deg);
  transition-delay: 0;
}
.card .poke-entry .img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 80px;
}
.card .poke-entry .img-wrap img {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0;
  width: 65px;
}

.card .poke-entry.active {
  transition: opacity 0.3s linear 0.3s, transform 0.3s linear;
  opacity: 1;
}

.card .poke-entry::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 10px;
  opacity: 0;
  z-index: -1;
}

.card .poke-entry.active::before {
  opacity: 0.9;
}

.hp {
  width: 80px;
  background-color: white;
  text-align: center;
  padding: 8px 0;
  border-radius: 30px;
  margin-left: auto;
  font-weight: 500;
}

.poke-name {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
}

.pokeNameTC {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}

.types {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 40px;
}
.types span {
  font-size: 10px;
  font-weight: 400;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: black;
  color: white;
}

.hp span,
.types span {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.stats p {
  font-family: "Noto Sans TC";
  color: dimgrey;
}

.generate {
  margin-top: 30px;
}

.generate:active .text-gotcha {
  color: black;
  scale: 1.25;
}

.text-gotcha {
  font-family: "Source Code Pro";
  font-style: italic;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 4px 8px;
  margin: 0 auto;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
}

.btn {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  background: linear-gradient(180deg, #f71b1b 50%, #f7f7f7 50%);
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.6);
  box-shadow: inset -10px 0px 0 0px rgba(0, 0, 0, 0.2), 0 5px 15px white;
  cursor: pointer;
  transition: scale 0.1s ease-out, transform 0.2s ease-out;
}
.btn:hover {
  scale: 0.9;
}
.btn:active {
  transform: rotate(120deg);
}
.btn::before {
  content: " ";
  display: block;
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: #000;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
}
.btn::after {
  content: " ";
  display: block;
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: #000;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
}
.btn .ball-button {
  position: absolute;
  z-index: 1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #CAC8C8;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 2px white, 0 0 0 5px black;
}

.download {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 14px;
  font-size: 10px;
  border: none;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  margin-bottom: 25px;
  transition: all 0.2s ease-out;
}
.download i {
  position: relative;
  top: 3px;
  font-size: 16px;
  margin-right: 8px;
}
.download:hover {
  background-color: #6839CE;
  color: white;
}/*# sourceMappingURL=style.css.map */